<h1>Jujutsu Kaisen</h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Caracteristique</th>
  </tr>
  <tr>
    <td><img src="{{data.img}}" width="100px" /></td>
    <td>{{data.nom}}</td>
    <td>{{data.caracs}}</td>
  </tr>
  <!--
  <tr>
    <td><img src="./../assets/gojo.jpg" width="100px" /></td>
    <td>Satoru Gojo</td>
    <td>Limitless</td>
  </tr>
  <tr>
    <td><img src="./../assets/megumi.jpg" width="100px" /></td>
    <td>Megumi Fushiguro</td>
    <td>Ten Shadows Technique</td>
  </tr>
  <tr>
    <td><img src="./../assets/yuji.jpg" width="100px" /></td>
    <td>Yuji Itadori</td>
    <td>Black Flash</td>
  </tr>
  <tr>
    <td><iemg src="./../assets/nobara.jpg" width="100px" /></td>
    <td>Nobara Kugisaki</td>
    <td>Straw Doll Technique</td>
  </tr>
  -->
</table>
<div>
  <!-- this header tag displays only when user is logged-in -->
  <h1 *ngIf="authService.user | async">
    Welcome User: {{ (authService.user | async)?.email }}!
  </h1>

  <!-- this div displays only when user is not-logged-in -->
  <div *ngIf="!(authService.user | async)">
    <!-- these input fields takes email and password from user -->
    <input type="text" [(ngModel)]="email" placeholder="Enter email"/>
    <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

    <!-- user click this button to signup -->
    <button (click)="signup()" [disabled]="!email || !password">
      Signup
    </button>


    <!-- user click this button to login -->
    <button (click)="login()" [disabled]="!email || !password">
      Login
    </button>
  </div>

  <!-- user click this button to logout -->
  <!-- this button displays only when user is logged-in -->
  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>


<router-outlet></router-outlet>